include ../mixins/message

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css" integrity="sha384-OLYO0LymqQ+uHXELyx93kblK5YIS3B2ZfLGBmsJaUyor7CpMTBsahDHByqSuWW+q" crossorigin="anonymous")
        link(rel="stylesheet", href="/static/main.css")
    body
        if messages.error
            +message({
                type:'error',
                text: messages.error,
            })
        else if messages.info
            +message({
                type:'info',
                text:messages.info,
            })
        else if messages.success
            +message({
                type:'success',
                text:messages.success,
            })
        else if messages.failure
            +message({
                type:'failure',
                text:messages.failure,
            })
        include ../partials/header
        main
            block content
        include ../partials/footer
    script(src="/static/main.js")